@charset "UTF-8";


@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,400);
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #1c202b;
	color: white;
}
.header {
	position: fixed;
	padding: 45px 75px 0 65px;
	top: 0;
	right: 0;
	z-index: 99;
}
.header .nav-toggle {
	margin: 10px 0 0 10px;
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	padding-top: 17px;
	width: 60px;
	height: 60px;
	color: #fff;
	border: 3px solid transparent;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.header .nav-toggle:hover {
	border-color: #fff;
}
.container {
	padding-top: 25px;
}

.mon-nom>h1{
	color:#ff2b42 !important;
}
.mon-nom>h1>i {
	font-style: normal;
	color: #3b404d !important
}

.contacts {
	display: block;
	margin-right: 2.35765%;
	position: relative;
	text-align: center;
}

ul.social li {
	display: inline;
	font-size: 4em;
	list-style: outside none none;
	padding: 0 1%;
}
ul.social li a:hover {
	text-decoration: none;
}


ul.social li a i {
	color: rgb(59,64,77);
}

.col-lg-3.col-md-4.col-xs-6.thumb {
	min-height: 100px;
}

.thumbnail {
    display: block !important;
    padding: 10px 10px 10px 10px !important;
    margin: 0 !important;
    line-height: 0 !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-transition: border .2s ease-in-out !important;
    -o-transition: border .2s ease-in-out !important;
    transition: border .2s ease-in-out !important;
}
.thumbnail img {
width: 50%;
}
.owl-item {
     margin-top: 30px;
 }

#footer {
    background-color: #eeeff2;
    border-top: 1px solid #e9ebed;
    padding: 0 0 60px;
}

#footer .copy {
    text-align: left;
}
#footer p{
    color: #25272b;
}
.margin {
    padding-bottom: 5%;
    padding-top: 5%;
}

#footer .social {
    text-align: right;
    color: #25272b;

}
#footer .linkedin {
    color: rgb(27,134,188);
}
#footer .facebook {
    color: #3b5998;
}
#footer .twitter {
    color: #09c;
}

#footer .google {
    color: #dd4b38;
}
#footer .github {
    color: black;
}

.titreContact{
    text-align: center;
    color: #3b404d !important;
}
.form-control.name.input-your-name {
    border-bottom: 1px solid  #eaeaea;
    border-right: 1px solid  #eaeaea;
}.form-control.email.input-email {
     border-bottom: 1px solid  #eaeaea;
 }textarea {
      border-bottom: 1px solid  #eaeaea !important;
  }input#humain {
       border-bottom: 1px solid  #eaeaea;
   }

.contact-form {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 45px;
    min-height: 80px;
    overflow: hidden;
    width: 100%;
}.no-padding {
     padding-left: 0;
     padding-right: 0;
 }.contact-form .name {
      border-right: 1px solid #eaeaea;
  }
.contact-form .form-control {
    border-width: 0;
    min-height: 80px;
}.form-control, .input-group-addon {
     background-color: rgba(0, 0, 0, 0);
     border-color: #e7e8ec;
     border-radius: 0;
     box-shadow: none;
     color: #a7aaad;
     font-size: 13px;
     height: auto;
     line-height: normal;
     padding: 15px 20px;
 }.theme-btn, .theme-btn-2, .form-submit > input[type="submit"] {
      color: #ffffff;
  }
.theme-btn, .theme-btn-1, .theme-btn-2, .form-submit > input[type="submit"] {
    border-radius: 3em;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 10px;
    height: 45px;
    letter-spacing: 1px;
    line-height: normal;
    min-width: 170px;
    overflow: hidden;
    padding: 15px 10px;
    text-transform: uppercase;
}
.contact-form .message {
    border-top: 1px solid #eaeaea;
}
a, .btn {
    color: #7e848e;
    transition: all 0.4s ease-in-out 0s;
}
.contact-form .name {
    border-right: 1px solid #eaeaea;
}
.contact-form .form-control {
    border-width: 0;
    min-height: 80px;
}
label {
    color: #a7aaad;
}
















nav {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	text-align: center;
	background: rgba(0, 0, 0, 0.95);
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-moz-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-ms-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	-o-transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
nav ul {
	position: relative;
	list-style-type: none;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
nav ul li:first-child {
	margin-bottom: 30px;
}
nav ul li .nav-close {
	cursor: pointer;
}

nav.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.4s, opacity 0.4s;
	-moz-transition: transform 0.4s, opacity 0.4s;
	-ms-transition: transform 0.4s, opacity 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
nav .nav-close {
	font-size: 60px;
	color: #fff;
}

.remonter {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 1em;
    color: #fff;
    font-size: 13px;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
}
.contact input, textarea {
	color: rgb(59, 64, 77);
}
.row.contact input, textarea {
	border: 1px solid black;
	margin: 10px 0;
}
.contact .col-md-6 {
	border: 1px dashed;
}
@media (max-width: 991px) {
	.header {
		padding: 20px 20px 20px 15px;
	}
	.header .nav-toggle {
		margin: 3px 0 0 0;
	}
	.header .brand {
		display: none;
	}
	ul.social {
		width: 100%;
	}
	.col-lg-3.col-md-4.col-xs-6.thumb {
		min-height: 145px;
	}
}
@media (max-width: 768px) {

nav ul {
	margin: 0;
}
nav ul li:first-child {
	margin-bottom: 30px;
}
nav ul li a {
	font-size: 42px;
}
nav ul li a:hover:before,
nav ul li a:hover:after {
	position: absolute;
	top: 10px;
	font-size: 28px;
}
}
